%img.company-logo{ :src => '/images/partners/ashworth.png', :alt => 'Ashworth' }
%section.company-details
  %p.company-description
    Ashworth - is the first manufacturer of conveyor
    belts in the world, producing material that the
    customer needs, appropriate to your
    application - be it food processing, industrial,
    transportation or technology. This is a
    manufacturer that will certainly allow an
    improvement and increase in productivity of
    your business.
  %h2.clients-header Our Clients &amp; Partners
  %p.clients-description
    Seven-Ogun International is your one-stop boutique pre-press room
    specialists. To maximize response time, we carry inventory in-house to
    ensure our customer’s demands are always met in a timely manner. Seven-Ogun
    not only carries inventory for it clients but it also provides (i)
    customized plate cutting services to satisfy any customer’s specifications,
    (ii) product installation and maintenance and (iii) general technical
    support. With over 10 years of experience in this industry, we have both
    the expertise and know-how to satisfy all your product and service needs.
