%img.overview{ :src => '/images/solutions/card_solutions.png', :alt => 'Card Solutions' }

%p.solution-description
  Seven-Ogun offers equipment and consumables for the manufacturing
  and servicing of an array of cards products. Such products include
  Smart Cards (contact and contactless), magnetic, mifare, tags and mini
  tags. We also provide card readers and card writers that support contact
  and contactless cards and magnetic strips. In addition Seven provides
  and services card services for inlays, chip antennas for label
  manufacturing, tags and RFID wrist bands, equipment for pre-paid cards
  with variable data and scratch off labels.
