%img.overview{ :src => '/images/solutions/coating_solutions.png', :alt => 'Coating Solutions' }

%p.solution-description
  Complete Solutions for web and sheet fed printers. We offer
  photopolymer coating plates, Processing Equipment and Film Printing
  Equipment. Our coating plates are compatible with both UV and aqueous
  coatings and available on three different substrates Steel, Polyester and
  Aluminum Base. Plus our company offers more than just the products.
  Our customers can count on our specialized technical services.