%img.overview{ :src => '/images/solutions/container_solutions.png', :alt => 'Container Solutions' }

%p.solution-description
  Seven-Ogun delivers complete solutions for all of your dry offset printer
  needs. We offer photopolymer printing plates, printing blankets and all of
  the required processing equipment for serving such products. In addition
  to all of our great products, our customers can count on us for
  comprehensive specialized technical services and support.
