%img.overview{ :src => '/images/solutions/equipment.png', :alt => 'Equipment Solutions' }

%p.solution-description
  We deliver customized equipment tailored to our clients specific project needs
  for their printing systems (including finishings with the Ink Jet process).
