%img.company-logo{ :src => '/images/partners/graphtec.png', :alt => 'Graphtec' }
%section.company-details
  %p.company-description
    Graph-Tech (GT), founded in 1989 and based
    in Switzerland, is a global manufacturer of
    controllers (operating over 2000) and ink jet
    systems (over 600 in operation) in the graphics
    industry worldwide known for their excellent
    products technical level.
  %h2.clients-header Our Clients &amp; Partners
  %p.clients-description
    Seven-Ogun International is your one-stop boutique pre-press room
    specialists. To maximize response time, we carry inventory in-house to
    ensure our customer’s demands are always met in a timely manner. Seven-Ogun
    not only carries inventory for it clients but it also provides (i)
    customized plate cutting services to satisfy any customer’s specifications,
    (ii) product installation and maintenance and (iii) general technical
    support. With over 10 years of experience in this industry, we have both
    the expertise and know-how to satisfy all your product and service needs.
