%img.overview{ :src => '/images/solutions/inkjet_solutions.png', :alt => 'Inkjet Solutions' }

%p.solution-description
  Seven-Ogun sells and services Ink Jet Systems (with HP), Lexmark, Kyocera
  (Spectra) and Rapid technologies. Also, the brands we offer are known world
  wide for their quality and numerous applications (such as direct mailing,
  commercial proposals, labels, etc.).
