%img.company-logo{ :src => '/images/partners/realsmart.png', :alt => 'Real Smart' }
%section.company-details
  %p.company-description
    RealSmart - Strategic partner who opened the
    market to WFB high-tech equipment for the
    production of contact smart cards or not, and
    all the line inputs.
  %h2.clients-header Our Clients &amp; Partners
  %p.clients-description
    Seven-Ogun International is your one-stop boutique pre-press room
    specialists. To maximize response time, we carry inventory in-house to
    ensure our customer’s demands are always met in a timely manner. Seven-Ogun
    not only carries inventory for it clients but it also provides (i)
    customized plate cutting services to satisfy any customer’s specifications,
    (ii) product installation and maintenance and (iii) general technical
    support. With over 10 years of experience in this industry, we have both
    the expertise and know-how to satisfy all your product and service needs.
