%img.overview{ :src => '/images/solutions/rfid.png', :alt => 'RFID' }

%p.solution-description
  Seven-Ogun International LLC offers a complete line of consumables, readers
  and special projects using the newest RFID technology. We work with all
  applicable frequencies (LF / HF / UHF ) as well as in different forms (minitags,
  keychains, capsules, wristbands) and sizes.