%img.company-logo{ :src => '/images/partners/trelleborg.png', :alt => 'Trelleborg' }
%section.company-details
  %p.company-description
    Trelleborg manufactures Vulcan and Rollin
    offset printing blankets in the web, sheet fed,
    newspaper, business forms, metal decorating,
    and packaging markets. As one of the world's
    largest and most diversified manufacturer of
    printing blankets, Trelleborg, has almost 100
    years invested in the printing industry. This
    knowledge, combined with our innovative
    technology, patented processes, vertical
    integration, and total quality management,
    distinguishes us from our competitors and
    helps us satisfy the specific needs of a
    demanding and fast-changing global printing
    market. Rollin is the new brand name for the
    MacDermid Printing Blankets that was
    purchased by Trelleborg in 2008.
  %h2.clients-header Our Clients &amp; Partners
  %p.clients-description
    Seven-Ogun International is your one-stop boutique pre-press room
    specialists. To maximize response time, we carry inventory in-house to
    ensure our customer’s demands are always met in a timely manner. Seven-Ogun
    not only carries inventory for it clients but it also provides (i)
    customized plate cutting services to satisfy any customer’s specifications,
    (ii) product installation and maintenance and (iii) general technical
    support. With over 10 years of experience in this industry, we have both
    the expertise and know-how to satisfy all your product and service needs.
