%img.company-logo{ :src => '/images/partners/wfb.png', :alt => 'WFB' }
%section.company-details
  %p.company-description
    WFB Brazil is a family owned operation that
    prides itself on catering to all of our clients’
    differing needs. With over 17 years of
    experience in the blanket and plate industry,
    we have both the expertise and know-how to
    satisfy all of our client product and service
    needs. With over 10 years of experience,
    Seven Ogun was initially formed as a sister
    company to WFB Brazil to service a broader
    range of North American and Latin American
    customers in the plate industry. Seven Ogun
    has expanded it market to manage the rest of
    the world while WFB Brazil continues to focus
    its efforts on servicing Brazil.
  %h2.clients-header Our Clients &amp; Partners
  %p.clients-description
    We believe that to provide the best service and products on
    the market you have to surround yourself with great people
    and companies. This is why Seven-Ogun has partnered with
    numerous companies who share the same philosophy and
    commitment to providing excellent products and service. We
    have worked with this group of professionals for the past
    decade and know that their products, service and reputation
    in the industry speaks for itself when it comes to producing
    quality results for our clients.
