%aside#subnav

%article#main
  %figure#about_quote
    %blockquote
      “Our competitors ship in months, we ship same day.”
    %figcaption
      – Fernanda Aler, US VP of Operations
    
    
  %h1.about About Us
  %p.about
    Seven-Ogun International is your one-stop boutique pre-press room specialists.
    To maximize response time, we carry inventory in-house to ensure our
    customer’s demands are always met in a timely manner. Seven-Ogun not only
    carries inventory for it clients but it also provides (i) customize plate cutting and
    exposure to satisfy any customer’s specifications, (ii) product installation and
    maintenance and (iii) general technical support. With over 10 years of
    experience in this industry, we have both the expertise and know-how to satisfy
    all your product and service needs.
    
  %section#history_description.about_subsection
    %h2 History
    %p
      We’re a US based, family owned
      operation that prides itself on catering
      to all of our clients’ differing needs.
      With over 10 years of experience in
      this industry, we have both the
      expertise and know-how to satisfy all
      your product and service needs.
    
  %section#services_description.about_subsection
    %h2 Services
    %p
      Seven-Ogun International considers
      itself a service provider first, who also
      happens to provide superior products
      to its customers.
