#overview  
  %section#our-solutions
    #slideshow
      %div.slide
        %img{ :src => '/images/banners/coating_solutions.png', :height => 171, :width => 526 }
      %div.slide
        %img{ :src => '/images/banners/container_solutions.png', :height => 171, :width => 526 }

    #solutions-title Our Solutions
  
  #testimonial
    %h2 Boutique quality service with large operation capabilities
    %blockquote
      “No company in this industry can
      provide our level of personalized customer
      service and product response time.
      There is simply no red tape to
      cut at Seven-Ogun International.”
    //.credit — Antonio L.V. Machado, owner

#additional-information
  %section
    %h2 Who We Are
    %p
      We’re a US based, family owned operation that prides itself on catering to
      all of our clients’ differing needs. With over 10 years of experience in
      this industry, we have both the expertise and know-how to satisfy all your
      product and service needs.
    %a{ :href => '/about', :class => 'more-button' } More <span>&raquo;</span>

  %section
    %h2 Clients &amp; Partners
    %p
      Seven-Ogun International is your one-stop boutique pre-press room
      specialists.To maximize response time, we carry inventory in-house to
      ensure our customer’s demands are always met in a timely manner. 
    //%img{ :src => '/images/partners-homepage.png', :alt => 'Partners' }
    //%a{ :href => '/clients-and-partners/ashworth', :class => 'more-button' } More <span>&raquo;</span>

  %section

